.mainDiv {
    display: flex;
    align-items: center;
}
.watchImgWrap {
    height: 450px;
    width: 40%;
    position: relative;
    margin-top: 50px;
    /* overflow: hidden; */
}
.watch {
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: -43px;
    left: -60px;
}
.prductNameWrap {
    font-family: 'Roboto Mono', monospace;
    font-size: 120%;
    word-spacing: -10px;
    margin-top: 50px;
    padding: 40px;
    width: 60%;
    height: 500px;
    margin-right: 80px;
}
p{
    font-family: 'Roboto Mono', monospace;
    color: gray;
}
h4{
    font-family: 'Roboto Mono', monospace;
    word-spacing: -2px;
    font-size: 23px;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
}
.colorWrap {
    /* background-color: white; */
    height: 40px;
    width: 270px;
    overflow: hidden;
    margin-top: -5px;
    display: flex;
}

.redband {
    height: 40px;
    width: 60px;
    overflow: hidden;
    background-color: #ca3d22;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.blueband {
    height: 40px;
    width: 60px;
    overflow: hidden;
    background-color: #565681;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.blackband {
    height: 40px;
    width: 60px;
    overflow: hidden;
    background-color: #23211f;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.purpleband {
    height: 40px;
    width: 60px;
    overflow: hidden;
    background-color: #8a5362;
    border-radius: 3px;
    cursor: pointer;
}
.watchFeatures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}
.timeBtn {
    border: none;
    background: rgb(225, 231, 238);
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
}
.heartBtn {
    background: rgb(225, 231, 238);
    margin-left: 15px;
    padding: 8px 35px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-family: 'Merriweather Sans', sans-serif;
}
.buyBtn {
    border: none;
    background: #E58300  ;
    padding: 15px 50px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    top: 80px;
    right: 328px;
    border-radius: 5px;
    font-family: 'Merriweather Sans', sans-serif;
    cursor: pointer;
}
.timeWrap {
    width: 215px;
    height: 229px;
    z-Index: 200;
    position: absolute;
    left: 127px;
    overflow: hidden;
    top: 240px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: black;
}
.timeTxt {
    text-align: center;
    margin: 0 auto;
    color: white;
    position: relative;
    bottom: -7px;
}

.heart {
    width: 215px;
    height: 229px;
    z-Index: 0;
    position: absolute;
    left: 127px;
    overflow: hidden;
    top: 240px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: black;
}
.beats{
    
    position: relative;
    margin: 0;
    font-size: 40px;
    margin-left: 85px;
    top: 147px;
}
.icon {
    position: absolute;
    font-size: 70px;
	color: red;
    margin-left: 71px;
    bottom: 85px;
	animation: pulse .2s infinite;
}
.heartBeatIcon {
    width: 80px;
}

@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}
	
	50% {
		transform: scale(1.1, 1.1);
	}
	
	100% {
		transform: scale(1, 1);
	}
}